<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Pet Depot</title>
    <!--Load vue from server so no local file is required-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/e62066c739.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href=""/>
    <link rel="stylesheet" href=""/>
</head>
<body>
    <div id="app">
        <header>
        <h1 v-text="sitename"></h1>
        <button v-on:click="showCheckout">
            {{cartItemCount}}
            <span class="fas fa-cart-plus"></span>Checkout
        </button>
    </header>

    <main>
        <div v-if="showProduct">
        <figure>
            <img v-bind:src="product.image">
        </figure>
        <h2 v-text="product.title"></h2>
        <p v-html="product.description"></p>
        <p>Price: {{product.price}}</p>
        <!--shorthand for v-on is @ so it will be @click,,,,this is v-on for DOM binding-->
        <button v-on:click="addToCart"
        v-if="canAddToCart">Add to Cart</button>
        <button disabled='disabled' v-else>Add to cart</button>
    </div>

        <div v-else>
            <h2>Checkout</h2>
            <p>
                <strong>First Name:</strong>
                <input v-model.trim="order.firstName"/>
            </p>
            <p>
                <strong>Last Name:</strong>
                <input v-model.trim="order.lastName">
            </p>

            <p>
                <strong>Address</strong>
            </p>
            <input v-model="order.address">

            <p>
                <strong>City:</strong>
                <input v-model="order.city">
            </p>

            <p>
                <strong>State:</strong>
                <select v-model="order.state">
                    <option disabled value="">State</option>
                    <option v-for="(state, key) in states"
                    v-bind:value="state">
                    {{key}}
                </option>
                </select>
            </p>

            <p>
                <strong>Zip/Postal Code:</strong>
                <input v-model.number="order.zip" type="number">
            </p>

            <p>
                <input type="checkbox" name="gift" vlaue="true" v-model="order.gift"
                v-bind:true-value="order.sendGift"
                v-bind:false-value="order.dontSendGift">
                <label for="gift">Ship as Gift?</label>
            </p>

            <p>
                <input type="radio" id="home" value="Home" v-model="order.method">
                <label for="home">Home</label>
                <input type="radio" id="business" value="Business" v-model="order.method">
                <label for="business">Business</label>
            </p>
            <h2>Order Information</h2>
            <p>First Name: {{order.firstName}}</p>
            <p>Last Name: {{order.lastName}}</p>
            <p>Address: {{order.address}}</p>
            <p>City: {{order.city}}</p>
            <p>Zip: {{order.zip}}</p>
            <p>State: {{order.state}}</p>
            <p>{{order.gift}}</p>
            <p>{{order.method}}</p>

            <p>
                <ol>
                    <li v-for="state in states">{{state}}</li>
                </ol>
            </p>

            <p>
                <button v-on:click="submitForm">Place Order</button>
            </p>
        </div>
    </main>
        </div>

        
    </div>
    <script>
        let webstore = new Vue ({
            el: '#app',
            data: {
                sitename: 'Vue.js Pet Depot',
                product: {
                    id: 100,
                    title: "Cat Food, 25lb bag",
                    description: "A 25 pound bag of <em>irresistable<\em>" + " organic goodness for your cat.",
                    price: 2000,
                    image: "images/Petfood.jpg",
                    availableInventory: 5,
                },
                cart: [],
                showProduct: true,
                order: {
                    firstName: '',
                    lastName: '',
                    address: '',
                    zip: '',
                    state: '',
                    gift: 'Send as a Gift',
                    sendGift: 'Send as a Gift',
                    dontSendGift: 'Dont send as Gift',
                    method: 'Home',
                },
                states: {
                        AL: 'Alabama',
                        AR: 'Arizona',
                        CA: 'California',
                        NV: 'Nevada'
                    }
                
            },
            methods: {
                addToCart: function() {
                    this.cart.push(this.product.id);
                    console.log(this.cart);
                },
                showCheckout() {
                    this.showProduct = this.showProduct ? false : true; 
                },
                submitForm() {
                    alert("Order Subitted!")
                }
            },
            computed: {
                 cartItemCount: function(){
                    return this.cart.length || ''
                 },
                 canAddToCart: function(){
                    return this.product.availableInventory > this.cartItemCount;
                 }
                }

        });
    </script>
    
</body>
</html>